:root {
    --main-size-k: 0.5;
    --heigth_minimaze: 0.5;
}


.pokemonCard {
    --fire: #FDDFDF;
    --grass: #DEFDE0;
    --electric: #FCF7DE;
    --water: #DEF3FD;
    --ground: #f4e7da;
    --rock: #d5d5d4;
    --fairy: #fceaff;
    --poison: #98d7a5;
    --bug: #f8d5a3;
    --dragon: #97b3e6;
    --psychic: #eaeda1;
    --flying: #F5F5F5;
    --fighting: #E6E0D4;
    --normal:#F5F5F5;

    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
    transform: rotateY(180deg);
}

.pokemonCard.active {
    transform: rotate(0deg);
}

@keyframes flipFront {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.pokemonCard.selected {
    margin-top: calc(var(--main-size-k) * -4vh);
    margin-bottom: calc(var(--main-size-k) * 4vh);
}

.cardFront,
.cardBack {
    width: calc(var(--main-size-k) * 57vh);
    height: calc(var(--main-size-k) * 85vh);
    border-radius: calc(var(--main-size-k) * 4vh);
    background: var(--normal);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardFront {
    transform: rotateY(0deg);
    z-index: 2;
}

.pokemonCard:active .wrap.front::after,
.pokemonCard:focus .wrap.front::after {
    border-color: var(--rock);
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wrap.front {
    z-index: 2;
    padding: 0;
}

.wrap.front::after {
    content: '';
    display: block;
    width: calc(var(--main-size-k) * 57vh);
    height: calc(var(--main-size-k) * 85vh);
    position: absolute;
    border: calc(var(--main-size-k) * 3vh) solid #fce756;
    top: calc(var(--main-size-k) * 42.5vh);
    left: calc(var(--main-size-k) * 28.5vh);
    transform: translate(-50%, -50%);
    border-radius: calc(var(--main-size-k) * 4vh);
}

.wrap.back {
    z-index: -1;
    background-image: url(./assets/card-back-side.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardBack {
    transform: rotateY(180deg);
    z-index: 1;
}

.cardBack img {
    height: 100%;
    border-radius: calc(var(--main-size-k) * 5vh);
}

.pokemon {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-radius: calc(var(--main-size-k) * 4vh);
    box-shadow: 0 calc(var(--main-size-k) * 3vh) calc(var(--main-size-k) * 15vh) rgba(100, 100, 100, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fire {
    background-color: var(--fire);
}
.grass {
    background-color: var(--grass);
}
.electric {
    background-color: var(--electric);
}
.water {
    background-color: var(--water);
}
.ground {
    background-color: var(--ground);
}
.rock {
    background-color: var(--rock);
}
.fairy {
    background-color: var(--fairy);
}
.poison {
    background-color: var(--poison);
}
.bug {
    background-color: var(--bug);
}
.dragon {
    background-color: var(--dragon);
}
.psychic {
    background-color: var(--psychic);
}
.flying {
    background-color: var(--flying);
}
.fighting {
    background-color: var(--fighting);
}
.normal {
    background-color: var(--normal);
}

.red {
    background-color: #d998b2;
}

.blue {
    background-color: #a8caea;
}

.pokemon .imgContainer {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: calc(var(--main-size-k) * 30vh);
    height: calc(var(--main-size-k) * 30vh);
    text-align: center;
    margin-bottom: calc(var(--main-size-k) * 1vh);
}

.pokemon .imgContainer img {
    margin-top: calc(var(--main-size-k) * 1vh);
    max-width: calc(var(--main-size-k) * 30vh);
}

.pokemon .info {
    margin-top: calc(var(--main-size-k) * 6vh);
}

.pokemon .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: calc(var(--main-size-k) * 4vh);
    font-size: calc(var(--main-size-k) * 3vh);
    padding: calc(var(--main-size-k) * 1vh) calc(var(--main-size-k) * 2vh);
}

.pokemon .name {
    font-size: calc(var(--main-size-k) * 8vh);
    margin: calc(var(--main-size-k) * 3vh) 0 calc(var(--main-size-k) * 1vh);
    letter-spacing: 0;
}

.values {
    position: absolute;
    display: block;
    top: calc(var(--main-size-k) * 6vh);
    left: calc(var(--main-size-k) * 6vh);
    font-size: calc(var(--main-size-k) * 6vh);
    line-height: calc(var(--main-size-k) * 5vh);
    width: calc(var(--main-size-k) * 12vh);
    height: calc(var(--main-size-k) * 12vh);
}

.count{
    position: absolute;
    width: calc(var(--main-size-k) * 0vh);
    height: calc(var(--main-size-k) * 0vh);
    text-align: center;
}

.count.top {
    left: calc(var(--main-size-k) * 6vh);
    transform: translate(-50%, 0);
    top: 0;
}

.count.left {
    top: calc(var(--main-size-k) * 6vh);
    left: 0;
}

.count.right {
    top: calc(var(--main-size-k) * 6vh);
    right: 0;
}

.count.bottom {
    left: calc(var(--main-size-k) * 6vh);
    transform: translate(-50%, 0);
    bottom: 0;
}