.flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(var(--main-size-k) * 57vh));
    grid-gap: calc(var(--main-size-k) * 5vh);
}

.buttonWrap {
    padding: calc(var(--main-size-k) * 12vh);
}

.card {
    width: calc(var(--main-size-k) * 57vh);
    height: calc(var(--main-size-k) * 85vh);
    cursor: pointer;
}